$colors: (
  primary: (
    base: #0075C4,
    contrast: #F4F4F8
  ),
  secondary: (
    base: #8FC93A,
    contrast: #F4F4F8
  ),
  accent: (
    base: #0A2472,
    contrast: #F4F4F8
  ),
  danger: (
    base: #DB3069,
    contrast: #F4F4F8
  ),
  success: (
    base: #4CB944,
    contrast: #F4F4F8
  ),
  sunset: (
    base: #FF9505,
    contrast: #F4F4F8
  ),
  sunshine: (
    base: #F5D547,
    contrast: #11270B
  ),
  sky: (
    base: #00A6FB,
    contrast: #F4F4F8
  ),
  lilac: (
    base: #EFBDEB,
    contrast: #11270B
  ),
  merlot: (
    base: #434371,
    contrast: #F4F4F8
  ),
	light: (
		base: #F4F4F8,
		contrast: #11270B
	),
  platinum: (
    base: #E6E6EA,
    contrast: #11270B
  ),
	smoke: (
		base: #BFC0C0,
		contrast: #11270B
	),
  shadow: (
    base: #46494C,
    contrast: #F4F4F8
  ),
  dark: (
    base: #11270B,
    contrast: #F4F4F8
  )
);

$chartcolors:(
sky: "#67b7dc",
canary: "#fdd400",
grn: "#84b761",
cherry: "#cc4748",
ltred: "#cd82ad",
dkblue: "#2f4074",
dkgrn: "#448e4d",
mustard: "#b7b83f",
brntorg: "#b9783f",
dkred: "#b93e3d",
ppl: "#913167"
);
