@import "../../../styles/imports";

header.header-container {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  height: calc(40px + 2.25vh);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid color-shade(map-get(map-get($colors, shadow), base), -0.1);
  flex-grow: 1;
  padding: 0.5vh 0.5vw;
  box-sizing: border-box;
}

header.header-container section div.spacer {
  width: 100%;
  max-width: 2vw;
  content: "";
  display: flex;
  flex-grow: 1;
}

header.header-container section.toolbar-start {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  flex-grow: 2;
  width: 100%;
}

header.header-container section.toolbar-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  flex-grow: 1;
  width: 100%;
}

header.header-container section.toolbar-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: center;
  flex-grow: 2;
  width: 100%;
}

@mixin toolbar-colors() {
  
  @each $key, $value in $colors {

    app-toolbar[color="#{$key}"] header.header-container {
      background-color: map-get(map-get($colors, $key), base);
      @include bg-gradient(color-shade(map-get(map-get($colors, $key), base), -0.1), color-shade(map-get(map-get($colors, $key), base), 0.1));
      color: contrastinator(map-get(map-get($colors, $key), base), map-get(map-get($colors, light), base), map-get(map-get($colors, dark), base));
      border-bottom: 1px solid color-shade(map-get(map-get($colors, $key), base), -0.2);
    }
    app-toolbar[color="#{$key}"] header a {
      color: map-get(map-get($colors, $key), contrast);
    }
    app-toolbar[color="#{$key}"] header a:hover {
      background-color: color-shade(map-get(map-get($colors, $key), base), 0.5);
      color: contrastinator(color-shade(map-get(map-get($colors, $key), base), 0.5), map-get(map-get($colors, light), base), map-get(map-get($colors, dark), base));
    }
  
    app-toolbar[color="#{$key}"] header .toolbar-title {
      color: map-get(map-get($colors, $key), contrast);
    }
    
  }
}


@include toolbar-colors();

