@import "../../../../styles/imports";

app-profile > div {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}

.sidenav-avatar {

}

.sidenav-avatar-text {
  margin-top: 1vh;
  font-size: 1.6em;
  color: map_get(map_get($colors, shadow), base);
}
