

card-header div {
	width: 98%;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 6px;
	background: none;
	margin: 0;
	flex-direction: column;
	box-shadow: none;
}
