

card-content div {
	width: 98%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 6px;
	background: none;
	margin: 0;
	flex-direction: row;
	box-shadow: none;
}
