@import "styles/colors";
@import "styles/variables";
@import "styles/mixins";
@import "styles/functions";
@import "styles/typography";
// Ionicons
@import "styles/ionicons/ionicons";
// App container
@import "shared/components/app-container/app-container.styles";
// App-icon
@import "shared/components/appicon/appicon.styles";
// Avatar
@import "shared/components/avatar/avatar.styles";
// Button
@import "shared/components/button/button.styles";
// Card
@import "shared/components/card/card.styles";
// Fab-icon
@import "shared/components/fabicon/fabicon.styles";
// Form
@import "shared/components/form/text-input/text-input.styles";
// Main Content
@import "shared/components/main-content/maincontent.styles";
// Page Title
@import "shared/components/pagetitle/pagetitle.styles";
// Preloader
@import "shared/components/preloader/preloader.styles";
// Sidemenu
@import "shared/components/sidemenu/sidemenu.styles";
@import "shared/components/sidemenu/menucontainer/menucontainer.styles";
@import "shared/components/sidemenu/menuheader/menuheader.styles";
@import "shared/components/sidemenu/profile/profile.styles";
@import "shared/components/sidemenu/sidenav/sidenav.styles";
// Toolbar
@import "shared/components/toolbar/toolbar.styles";
// Toolbar logo
@import "shared/components/toolbar/logo/toolbar-logo.styles";
// Toolbar menu
@import "shared/components/toolbar/menu/toolbar-menu.styles";
// View Content
@import "shared/components/toolbar/menu/toolbar-menu.styles";
// Flex
@import "shared/layout/flex/flex";

@import "app/views/public/login/login.styles";
@import "app/views/public/signup/signup.styles";

/*  ----------------------------------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}

html {
	width: 100vw;
	height: 100vh;
	
	font-size: $font-size-base;
	font-family: $font-family-base;
	font-weight: 400;
	font-size-adjust: $font-size-root;
	line-height: calc(1.1rem + 0.5vh);
	background-color: $background-color;
}

body {
	margin: 0;
	padding: 0;
	
	position: fixed;
	overflow: hidden;
	
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	max-height: 100vh;
	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	touch-action: manipulation;
	
	word-wrap: break-word;
	user-select: none;
}

// App Typography
// --------------------------------------------------

a {
	background-color: transparent;
}

.enable-hover a:hover {
	opacity: .7;
}

h1 {
	line-height: calc(0.35vmin + (2.6rem + 0.25vmin));
	font-size: $h1-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

h2 {
	line-height: calc(0.15vmin + (2.2rem + 0.25vmin));
	font-size: $h2-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

h3 {
	line-height: calc(0.15vmin + (2rem + 0.25vmin));
	font-size: $h3-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

h4 {
	line-height: calc(0.15vmin + (1.6rem + 0.25vmin));
	font-size: $h4-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

h5 {
	line-height: calc(0.15vmin + (1.4rem + 0.25vmin));
	font-size: $h5-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

h6 {
	line-height: calc(0.15vmin + (1.2rem + 0.25vmin));
	font-size: $h6-font-size;
	margin: 0.5vmin;
	font-weight: 400;
}

small {
	font-size: 75%;
}

.app-root {
	top: 0;
	left: 0;
	
	position: absolute;
	z-index: 0;
	display: block;
	
	width: 100%;
	height: 100%;
}

.app-root {
	contain: strict;
}

.invis-scroll::-webkit-scrollbar {
	width: 0;
	display: none;
}

